#html{
	color: #876A50;
	font-size: 8pt;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}
#css{
	color: #876A50;
	font-size: 8pt;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}
#bootstrap{
	color: #876A50;
	font-size: 8pt;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	color: #5F7D58;
	font-size: 55pt;
}
body{
	background-color: #CECCA1;
}